<%= simple_form_for([@collection, @collection_item]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :collection_id, as: :hidden %>
    <div
      class="dropzone dropzone-default dz-clickable"
      data-controller="dropzone"
      data-dropzone-max-file-size="10"
      data-dropzone-max-files="10"
      data-dropzone-accepted-files="image/*">
      <%=
        f.input(:images,
                input_html: {
                  multiple: true,
                  direct_upload: true,
                  data: { target: 'dropzone.input' }
                })
      %>
      <div class="dropzone-msg dz-message needsclick">
        <h3 class="dropzone-msg-title">
          <%= t('.images.drop_title') %>
        </h3>
        <span class="dropzone-msg-desc">
          <%= t('.images.drop_description') %>
        </span>
      </div>
    </div>
    <%= f.input :title %>
    <%= f.input :description %>
    <%#= f.input :value %>
    <%#= f.input :height_mm %>
    <%#= f.input :width_mm %>
    <%#= f.input :depth_mm %>
    <%#= f.input :availability, collection: CollectionItem.availabilities.keys, include_blank: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
